body,
html {
  height: 100%;
  margin: 0;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: white;
}

/* Structure */

.Body-Holder{
    box-sizing: border-box;
    height: 100%;
    display: grid;
    grid-template-columns: 1f;
    grid-template-rows: 1fr 5fr 0.5fr;
  }

  /* Containers */

  .Header-Holder{
    box-sizing: border-box;
    grid-row: 1/2;
    background-color: #222831;
  }
  

  .Main-title{
    font-size: 5vh;
    padding-left: 20px;
  }

  /* End of Header */
  .Content-Holder{
    box-sizing: border-box;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #948979;
    
  }


  .NavBar-Holder{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
  }
  .Book-Holder{
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  .Book-Holder img{
    min-width: 80%;
    flex-grow: 2;
    margin-left: auto;
    margin-right: auto;
  }
  .Book-Holder p{
    align-self: flex-start;
    margin: 0px;
    padding: 10px;
    font-size: x-large;
    font-weight: 900;
  }

/* grid parts */
  .Grid-Holder{
    grid-column: 2/3;
    background-color: #DFD0B8;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(40%, 1fr));

    gap: 15px ;
    overflow: scroll;
  }
  .Book-Object{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #222831;
    padding: 15px;
    border-radius: 3vh;
  }
  .Book-Object img{
    min-width: 50%;
    flex-grow: 2;
  }
  .Book-Object p{
    align-self: flex-start;
    margin: 0px;
    padding: 10px;
  }

/* End of Content */
  .Footer-Holder{
    box-sizing: border-box;
    grid-row: 3/4;
    background-color: #393E46;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* End of Footer */